<div class="container">
  <div class="row text-center">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <label class="navbar-brand">TockSyst</label>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="#">
              <a class="active" href="/"><i class="fa fa-home fa-fw"></i> Inicio</a>
            </li>

            <li class="#">
              <a class="active" href="/ventas"><i class="fa fa-file-text"></i> Ventas</a>
            </li>

            <li class="#">
              <a class="active" href="/ventas/nueva"><i class="fa fa-file-text"></i> Nueva venta</a>
            </li>

            <li class="active">
              <a class="active" href="/ventas/ayuda"><i class="fa fa-question-circle"></i> Ayuda</a>
            </li>

            <li class="#">
              <a class="active" href="<%= edit_user_registration_path %>"><i class=" fa fa-pencil-square"></i> Editar perfil</a>
            </li>
            <li class="#">
              <a class="active" href="<%= destroy_user_session_path %>"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center text-primary">
        <h1>
          Sector de ventas - Ayuda
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <legend class="text-primary">
        <h3>

        </h3>
      </legend>
      <div class="well">
        Similar al sector de compras, aquí también encontraras buscadores para hallar tus ventas
        realizadas. Al clickear en el botón de Ver podrás tener una vista sobre los datos de dicha
        venta. Para dar de alta una venta deberás acceder a la sección de Nueva venta, en donde se
        desplegará todo lo necesario para que puedas realizar un alta exitoso de tu venta.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <legend class="text-primary">
        <h3>
          Buscar ventas realizadas
        </h3>
      </legend>
      <div class="well">
        Para buscar
        las ventas que has realizado con anterioridad puedes utilizar los
        buscadores en la pantalla principal de Ventas. Puedes buscar
        ventas por número, ingresando un número de venta (mayor
        a 0) y luego preionando buscar para que aparesca la venta buscada,
        también la puedes buscar por cliente, ingresando el nombre del
        cliente (nombre de como máximo 40 caracteres, excepto caracteres
        especiales como !, #, $, %, etc) y luego presionar Buscar para que
        aparescan todas las ventas realizadas al cliente en cuestión, o
        también se pueden buscar por fecha, ingresando la fecha de la venta
        (la misma puede ser ingresada manualmente o presionando la flecha a
        la derecha del campo, que desplegará el calendario y seleccionarla
        desde alli. En el calendario podrás clickear sobre el circulo negro
        y esto ingresará la fecha actual) y luego presionar Buscar para que
        aparescan todas las ventas realizadas en esta fecha. Una vez que
        aparecen la/s venta/s buscada/s, presionando en Ver podrás ver
        los datos principales de la/s venta/s, número de venta, el
        cliente de la venta, la fecha de la venta y el monto total a
        pagar por la venta
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <legend class="text-primary">
        <h3>
          Nueva venta
        </h3>
      </legend>
      <div class="well">
        Para dar de alta una nueva
        venta debemos ir a la pestaña de Nueva venta. Aquí se desplegará
        un formulario que te solicitará una fecha y el nombre de un
        cliente. Una vez completados estos datos es momento de agregar
        productos a la venta. Para esto utilizarás los buscadores. Podrás
        buscar productos por nombre
        (como máximo 40 caracteres, exceptuando caracteres especiales
        como !, #, $, %, etc) ingresando el nombre del producto y
        presionando en Buscar. Una vez encontrado el producto debes
        ingresar una cantidad a vender (un número mayor a 0) y
        presionar Agregar. Esto agregará el producto deseado con su
        cantidad a la venta, calculando el subtotal por producto y el
        total final de la venta. Deberás repetir estos pasos hasta haber
        agregado todos los productos deseados a la venta. Una vez que
        terminaste de agregar, verás el monto total de la venta y deberás
        ingresar el monto total a pagar por la venta y luego presionar
        Terminar venta.
      </div>
    </div>
  </div>
</div>